body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: var(--font-body-small);
  line-height: 1.5;
  color: var(--main-text-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--font-weight-regular);
  line-height: 1.2;
  text-align: center;
  padding: var(--medium-text-spacing) 0;
  font-family: var(--main-title-font);
}
p {
  font-size: var(--font-body-medium);
  padding: var(--small-text-spacing);
  margin: 0;
}
nav {
  font-family: var(--main-title-font);
  font-weight: var(--font-weight-heavy);
}

h1 {
  font-size: var(--font-title-x-large);
  margin: 0;
  font-weight: var(--font-weight-heavy);
  padding: var(--x-large-text-spacing) 0;
}

h2 {
  font-size: var(--font-title-large);
  font-weight: var(--font-weight-heavy);
  padding: var(--large-text-spacing) 0;
  color: var(--main-lighter-text-colour);
}

h3 {
  font-size: var(--font-title-medium);
  font-weight: var(--font-weight-heavy);
  padding: var(--medium-text-spacing) 0;
}

h4 {
  font-size: var(--font-title-small);
  font-weight: var(--font-weight-heavy);
  padding: var(--medium-text-spacing) 0;
}
a {
  color: var(--main-highlight);
}

figure {
  margin: 0;
  padding: var(--x-small-component-spacing);
}
figcaption {
  margin: 0;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

figcaption {
  text-align: left;
  font-style: italic;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

code {
  background-color: transparent;
  padding: 0;
}
article :global(p) {
  padding-bottom: var(--small-text-spacing);
  padding-top: var(--small-text-spacing);
}
